main {
  height: 200vh;
}

.navbar {
  background-color: rgb(102,102,102);
  height: 60px;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  position: sticky;
  top: 20px;
  

}
a {
 margin: 10px 10px;
  font-family: "NarrowNews"; 
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  text-decoration: underline;

}

a:hover {
  color: #c3c1db; 
  transform: scale(1.1); 
}


@font-face {
  font-family: "NarrowNews"; 
  src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 